body{
    margin: 0;
}

.noise-grid {
    display: grid;
    height:100%;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: minmax(80px, 1fr);
}

.grid-cell:nth-child(3n) {
    box-shadow: inset 0 0 3px #000000
}

.grid-cell:nth-child(3n + 1) {
    box-shadow: inset 0 0 9px #000000
}

.grid-cell:nth-child(3n + 2) {
    box-shadow: inset 0 0 15px #000000
}

.grid-cell:hover{
    cursor:pointer;
    opacity: 0.9;
}